In [37]:
import numpy as np
import pandas as pd
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score
from sklearn.feature_extraction import DictVectorizer
from scipy.stats import ks_2samp

### 01 Data Import

In [4]:
# Specify data types (as given in assignment)

column_types = {
    'uuid': 'object',
    'default': 'float64',
    'account_amount_added_12_24m': 'float64',
    'account_days_in_dc_12_24m': 'float64',
    'account_days_in_rem_12_24m': 'float64',
    'account_days_in_term_12_24m': 'float64',
    'account_incoming_debt_vs_paid_0_24m': 'float64',
    'account_status': 'category',
    'account_worst_status_0_3m': 'category',
    'account_worst_status_12_24m': 'category',
    'account_worst_status_3_6m': 'category',
    'account_worst_status_6_12m': 'category',
    'age': 'int64',
    'avg_payment_span_0_12m': 'float64',
    'avg_payment_span_0_3m': 'float64',
    'merchant_category': 'category',
    'merchant_group': 'category',
    'has_paid': 'bool',
    'max_paid_inv_0_12m': 'float64',
    'max_paid_inv_0_24m': 'float64',
    'name_in_email': 'category',
    'num_active_div_by_paid_inv_0_12m': 'float64',
    'num_active_inv': 'float64',
    'num_arch_dc_0_12m': 'float64',
    'num_arch_dc_12_24m': 'float64',
    'num_arch_ok_0_12m': 'float64',
    'num_arch_ok_12_24m': 'float64',
    'num_arch_rem_0_12m': 'float64',
    'num_arch_written_off_0_12m': 'float64',
    'num_arch_written_off_12_24m': 'float64',
    'num_unpaid_bills': 'float64',
    'status_last_archived_0_24m': 'category',
    'status_2nd_last_archived_0_24m': 'category',
    'status_3rd_last_archived_0_24m': 'category',
    'status_max_archived_0_6_months': 'category',
    'status_max_archived_0_12_months': 'category',
    'status_max_archived_0_24_months': 'category',
    'recovery_debt': 'float64',
    'sum_capital_paid_account_0_12m': 'float64',
    'sum_capital_paid_account_12_24m': 'float64',
    'sum_paid_inv_0_12m': 'float64',
    'time_hours': 'float64',
    'worst_status_active_inv': 'category'
}


# Import data
df = pd.read_csv("dataset.csv", delimiter=';', dtype=column_types)

In [5]:
# Take a first look at the data
print(df.shape)

(99976, 43)

In [6]:
df.head()

,uuid,default,account_amount_added_12_24m,account_days_in_dc_12_24m,account_days_in_rem_12_24m,account_days_in_term_12_24m,account_incoming_debt_vs_paid_0_24m,account_status,account_worst_status_0_3m,account_worst_status_12_24m,...,status_3rd_last_archived_0_24m,status_max_archived_0_6_months,status_max_archived_0_12_months,status_max_archived_0_24_months,recovery_debt,sum_capital_paid_account_0_12m,sum_capital_paid_account_12_24m,sum_paid_inv_0_12m,time_hours,worst_status_active_inv
0,63f69b2c-8b1c-4740-b78d-52ed9a4515ac,0.0,0.0,0.0,0.0,0.0,0.0,1,1,NaN,...,1,1,1,1,0.0,0.0,0.0,178839.0,9.653333,1
1,0e961183-8c15-4470-9a5e-07a1bd207661,0.0,0.0,0.0,0.0,0.0,NaN,1,1,1,...,1,1,2,2,0.0,0.0,0.0,49014.0,13.181389,NaN
2,d8edaae6-4368-44e0-941e-8328f203e64e,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,...,1,1,2,2,0.0,0.0,0.0,124839.0,11.561944,1
3,0095dfb6-a886-4e2a-b056-15ef45fdb0ef,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,1,1,1,0.0,0.0,0.0,324676.0,15.751111,1
4,c8f8b835-5647-4506-bf15-49105d8af30b,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,...,0,1,1,1,0.0,0.0,0.0,7100.0,12.698611,NaN

### 02 EDA + Preprocessing

In [7]:
# Take a look at missing values
missing_values = df.isna().sum()
missing_values_percentage = (df.isnull().sum() / len(df)) * 100

missing_info = pd.DataFrame({'Missing Count': missing_values, 'Missing Percentage': missing_values_percentage})
missing_info = missing_info.sort_values(by='Missing Count', ascending=False)

missing_info

                                     Missing Count  Missing Percentage
worst_status_active_inv                      69515           69.531688
account_worst_status_12_24m                  66761           66.777026
account_worst_status_6_12m                   60350           60.364487
account_incoming_debt_vs_paid_0_24m          59315           59.329239
account_worst_status_3_6m                    57702           57.715852
account_status                               54373           54.386053
account_worst_status_0_3m                    54373           54.386053
avg_payment_span_0_3m                        49305           49.316836
avg_payment_span_0_12m                       23836           23.841722
num_active_div_by_paid_inv_0_12m             22939           22.944507
num_arch_written_off_12_24m                  18078           18.082340
num_arch_written_off_0_12m                   18078           18.082340
account_days_in_rem_12_24m                   11836           11.838841
account_days_in_term_12_24m                  11836           11.838841
account_days_in_dc_12_24m                    11836           11.838841
default                                      10000           10.002401
sum_paid_inv_0_12m                               0            0.000000
sum_capital_paid_account_12_24m                  0            0.000000
sum_capital_paid_account_0_12m                   0            0.000000
recovery_debt                                    0            0.000000
status_max_archived_0_24_months                  0            0.000000
status_max_archived_0_6_months                   0            0.000000
status_3rd_last_archived_0_24m                   0            0.000000
status_2nd_last_archived_0_24m                   0            0.000000
status_last_archived_0_24m                       0            0.000000
num_unpaid_bills                                 0            0.000000
time_hours                                       0            0.000000
status_max_archived_0_12_months                  0            0.000000
num_arch_ok_12_24m                               0            0.000000
num_arch_rem_0_12m                               0            0.000000
num_arch_ok_0_12m                                0            0.000000
num_arch_dc_12_24m                               0            0.000000
num_arch_dc_0_12m                                0            0.000000
num_active_inv                                   0            0.000000
name_in_email                                    0            0.000000
max_paid_inv_0_24m                               0            0.000000
max_paid_inv_0_12m                               0            0.000000
has_paid                                         0            0.000000
merchant_group                                   0            0.000000
merchant_category                                0            0.000000
account_amount_added_12_24m                      0            0.000000
age                                              0            0.000000
uuid                                             0            0.000000

In [8]:
# Check out the distribution of target variable and features
df.default.value_counts()

## Highly imbalanced

default
0.0    88688
1.0     1288
Name: count, dtype: int64

In [9]:
# Check for outliers in numerical features
pd.set_option('display.float_format', lambda x: '%.2f' % x)
# Get numeric columns
df_numeric = df.select_dtypes(include='number').copy()
df_numeric.describe(percentiles=[.05,.25, .5, .75,.95,.98,.99])

,default,account_amount_added_12_24m,account_days_in_dc_12_24m,account_days_in_rem_12_24m,account_days_in_term_12_24m,account_incoming_debt_vs_paid_0_24m,age,avg_payment_span_0_12m,avg_payment_span_0_3m,max_paid_inv_0_12m,...,num_arch_ok_12_24m,num_arch_rem_0_12m,num_arch_written_off_0_12m,num_arch_written_off_12_24m,num_unpaid_bills,recovery_debt,sum_capital_paid_account_0_12m,sum_capital_paid_account_12_24m,sum_paid_inv_0_12m,time_hours
count,89976.00,99976.00,88140.00,88140.00,88140.00,40661.00,99976.00,76140.00,50671.00,99976.00,...,99976.00,99976.00,81898.00,81898.00,99976.00,99976.00,99976.00,99976.00,99976.00,99976.00
mean,0.01,12255.15,0.22,5.04,0.29,1.33,36.02,17.97,14.99,9203.65,...,6.37,0.47,0.00,0.00,2.14,4.04,10816.07,6542.90,39208.80,15.33
std,0.12,35481.48,5.81,22.86,2.93,26.48,13.00,12.75,10.30,13512.17,...,15.35,1.36,0.01,0.01,6.30,163.93,26463.97,19041.22,90649.29,5.03
min,0.00,0.00,0.00,0.00,0.00,0.00,18.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
5%,0.00,0.00,0.00,0.00,0.00,0.00,19.00,5.14,3.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,7.36
25%,0.00,0.00,0.00,0.00,0.00,0.00,25.00,10.80,8.40,2000.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,2600.00,11.62
50%,0.00,0.00,0.00,0.00,0.00,0.15,34.00,14.91,13.00,6052.00,...,2.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,15995.00,15.79
75%,0.00,4937.25,0.00,0.00,0.00,0.66,45.00,21.00,18.29,11380.00,...,6.00,0.00,0.00,0.00,2.00,0.00,9029.75,85.00,43844.25,19.54
95%,0.00,72967.00,0.00,31.00,0.00,2.79,60.00,41.00,36.00,29272.50,...,28.00,2.00,0.00,0.00,10.00,0.00,57993.75,39200.75,150288.50,22.34
98%,0.00,121295.00,0.00,76.00,0.00,7.56,67.00,53.67,47.00,45600.00,...,50.00,4.00,0.00,0.00,18.00,0.00,92899.00,67499.00,240852.00,23.09
99%,1.00,163422.00,0.00,118.00,10.00,12.91,70.00,66.00,52.08,63390.00,...,74.00,6.00,0.00,0.00,26.00,0.00,122162.75,92740.75,340376.00,23.49
max,1.00,1128775.00,365.00,365.00,97.00,3914.00,100.00,260.00,87.00,279000.00,...,313.00,42.00,1.00,2.00,182.00,36479.00,571475.00,341859.00,2962870.00,24.00

In [10]:
# Check for data integrity issues:
 # account_days_in_rem (dc)_12_24m has a max value of 365. I would assume the max would be 730 (24 months). It's worth checking how the variable was created in order to confirm there's not an error somewhere.
 # Other quick checks - age is capped at 100, time is capped at 24 hours, monitary values seem reasonable (there are no values in the billions/trillions)
# What is the difference between NA and 0 in variables like account_days_in_dc_12_24m

In [11]:
# There are outliers in the data. I would like to cap the numerical features at the 98th percentile, because XGBoost can focus too much on outliers.
# But first there are some features that are sparse but strong signals. I work with these seperately to not lose those features.
pd.crosstab(pd.cut(df['account_days_in_dc_12_24m'], [-1,0,365]), df['default'], normalize='index')

default                    0.00  1.00
account_days_in_dc_12_24m
(-1, 0]                    0.99  0.01
(0, 365]                   0.81  0.19

In [12]:
# Calculate the percentage of zeros for each numerical feature
zero_percentage = (df_numeric == 0).sum() / df_numeric.notna().sum()
#print(zero_percentage)
# Identify features where more than 98% of the values are zeros
sparse_features = zero_percentage[zero_percentage > .98]

print(sparse_features)

sparse_features_list = sparse_features.index.tolist()

default                       0.99
account_days_in_dc_12_24m     1.00
account_days_in_term_12_24m   0.99
num_arch_written_off_0_12m    1.00
num_arch_written_off_12_24m   1.00
recovery_debt                 1.00
dtype: float64

In [13]:
sparse_features_list

['default',
 'account_days_in_dc_12_24m',
 'account_days_in_term_12_24m',
 'num_arch_written_off_0_12m',
 'num_arch_written_off_12_24m',
 'recovery_debt']

In [14]:
# turn these into boolean features

for feature in sparse_features_list:
    df.loc[df[feature] > 1, feature] = 1

In [15]:
df.account_days_in_dc_12_24m.value_counts()

account_days_in_dc_12_24m
0.00    87879
1.00      261
Name: count, dtype: int64

In [16]:
df_numeric_cols = df_numeric.columns.tolist()
df_numeric_cols_filtered = [col for col in df_numeric_cols if col not in sparse_features_list]
df_numeric_cols_filtered

['account_amount_added_12_24m',
 'account_days_in_rem_12_24m',
 'account_incoming_debt_vs_paid_0_24m',
 'age',
 'avg_payment_span_0_12m',
 'avg_payment_span_0_3m',
 'max_paid_inv_0_12m',
 'max_paid_inv_0_24m',
 'num_active_div_by_paid_inv_0_12m',
 'num_active_inv',
 'num_arch_dc_0_12m',
 'num_arch_dc_12_24m',
 'num_arch_ok_0_12m',
 'num_arch_ok_12_24m',
 'num_arch_rem_0_12m',
 'num_unpaid_bills',
 'sum_capital_paid_account_0_12m',
 'sum_capital_paid_account_12_24m',
 'sum_paid_inv_0_12m',
 'time_hours']

In [17]:
# exclude these feature, and cap the rest at 98 percentile
df_numeric_cols = df_numeric.columns.tolist()
df_numeric_cols_filtered = [col for col in df_numeric_cols if col not in sparse_features_list]

percentile_98 = df_numeric.quantile(0.98)

# Cap the outliers in each numerical column to the 98th percentile value
for feature in df_numeric_cols_filtered:
    cap_value = percentile_98[feature]
    df[feature] = df[feature].clip(upper=cap_value)

# Confirm capping worked
df[df_numeric.columns].describe(percentiles=[.05,.25, .5, .75,.95,.98,.99])

,default,account_amount_added_12_24m,account_days_in_dc_12_24m,account_days_in_rem_12_24m,account_days_in_term_12_24m,account_incoming_debt_vs_paid_0_24m,age,avg_payment_span_0_12m,avg_payment_span_0_3m,max_paid_inv_0_12m,...,num_arch_ok_12_24m,num_arch_rem_0_12m,num_arch_written_off_0_12m,num_arch_written_off_12_24m,num_unpaid_bills,recovery_debt,sum_capital_paid_account_0_12m,sum_capital_paid_account_12_24m,sum_paid_inv_0_12m,time_hours
count,89976.00,99976.00,88140.00,88140.00,88140.00,40661.00,99976.00,76140.00,50671.00,99976.00,...,99976.00,99976.00,81898.00,81898.00,99976.00,99976.00,99976.00,99976.00,99976.00,99976.00
mean,0.01,10811.11,0.00,3.84,0.01,0.63,35.92,17.56,14.83,8583.93,...,5.61,0.41,0.00,0.00,1.82,0.00,9827.85,5762.19,35213.78,15.32
std,0.12,25707.60,0.05,14.04,0.12,1.33,12.72,10.69,9.67,9594.44,...,10.06,0.89,0.01,0.01,3.57,0.05,20518.21,14156.93,50989.84,5.02
min,0.00,0.00,0.00,0.00,0.00,0.00,18.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
5%,0.00,0.00,0.00,0.00,0.00,0.00,19.00,5.14,3.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,7.36
25%,0.00,0.00,0.00,0.00,0.00,0.00,25.00,10.80,8.40,2000.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,2600.00,11.62
50%,0.00,0.00,0.00,0.00,0.00,0.15,34.00,14.91,13.00,6052.00,...,2.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,15995.00,15.79
75%,0.00,4937.25,0.00,0.00,0.00,0.66,45.00,21.00,18.29,11380.00,...,6.00,0.00,0.00,0.00,2.00,0.00,9029.75,85.00,43844.25,19.54
95%,0.00,72967.00,0.00,31.00,0.00,2.79,60.00,41.00,36.00,29272.50,...,28.00,2.00,0.00,0.00,10.00,0.00,57993.75,39200.75,150288.50,22.34
98%,0.00,121295.00,0.00,76.00,0.00,7.56,67.00,53.67,47.00,45600.00,...,50.00,4.00,0.00,0.00,18.00,0.00,92898.50,67499.00,240852.00,23.09
99%,1.00,121295.00,0.00,76.00,1.00,7.56,67.00,53.67,47.00,45600.00,...,50.00,4.00,0.00,0.00,18.00,0.00,92899.00,67499.00,240852.00,23.09
max,1.00,121295.00,1.00,76.00,1.00,7.56,67.00,53.67,47.00,45600.00,...,50.00,4.00,1.00,1.00,18.00,1.00,92899.00,67499.00,240852.00,23.09

In [18]:
## Categorical features
df_cat = df.select_dtypes(include='category').copy()

In [19]:
# Check how many levels the features have
df_cat.nunique()

account_status                      4
account_worst_status_0_3m           4
account_worst_status_12_24m         4
account_worst_status_3_6m           4
account_worst_status_6_12m          4
merchant_category                  57
merchant_group                     12
name_in_email                       8
status_last_archived_0_24m          5
status_2nd_last_archived_0_24m      5
status_3rd_last_archived_0_24m      5
status_max_archived_0_6_months      4
status_max_archived_0_12_months     5
status_max_archived_0_24_months     5
worst_status_active_inv             3
dtype: int64

In [20]:
df_cat.merchant_category.value_counts()

merchant_category
Diversified entertainment                                  38614
Youthful Shoes & Clothing                                  11755
Books & Magazines                                           9363
General Shoes & Clothing                                    4597
Concept stores & Miscellaneous                              4406
Sports gear & Outdoor                                       3712
Dietary supplements                                         3101
Diversified children products                               2994
Diversified electronics                                     1844
Prints & Photos                                             1675
Children Clothes & Nurturing products                       1500
Pet supplies                                                1315
Electronic equipment & Related accessories                  1037
Jewelry & Watches                                            911
Hobby articles                                               910
Prescription optics                                          899
Body & Hair Care                                             857
Automotive Parts & Accessories                               828
Diversified Health & Beauty products                         795
Diversified Home & Garden products                           707
Video Games & Related accessories                            673
Decoration & Art                                             665
Cosmetics                                                    640
Dating services                                              629
Diversified erotic material                                  623
Children toys                                                614
Tools & Home improvement                                     456
Personal care & Body improvement                             371
Furniture                                                    370
Pharmaceutical products                                      369
Fragrances                                                   324
Digital services                                             300
Adult Shoes & Clothing                                       292
Food & Beverage                                              289
Travel services                                              179
Costumes & Party supplies                                    147
Music & Movies                                               129
Wheels & Tires                                               109
Collectibles                                                 107
Kitchenware                                                   97
Household electronics (whitegoods/appliances)                 90
Underwear                                                     84
Erotic Clothing & Accessories                                 83
Non                                                           71
Musical Instruments & Equipment                               68
Tobacco                                                       66
Safety products                                               57
Diversified Jewelry & Accessories                             52
Car electronics                                               46
Sex toys                                                      41
Plants & Flowers                                              37
Bags & Wallets                                                24
Office machines & Related accessories (excl. computers)       17
Cleaning & Sanitary                                           14
Event tickets                                                 13
Wine, Beer & Liquor                                            9
Education                                                      1
Name: count, dtype: int64

In [21]:
# Group rare instances into 'Other' category and then one hot encode

# Define a threshold for rare categories. Categories with fewer instances than this threshold will be grouped into 'Other'
threshold = 100

# Count the frequency of each category in the feature
freq_count = df.merchant_category.value_counts()
# Find rare categories that are below the threshold
rare_categories = freq_count[freq_count < threshold].index
# Replace rare categories with 'Other'
df['merchant_category'] = df['merchant_category'].apply(lambda x: 'Other' if x in rare_categories else x)

# Perform one-hot encoding
#df_one_hot = pd.get_dummies(df, columns=df_cat.columns)

# Display the shape and first few rows of the one-hot encoded DataFrame
#df_one_hot.shape

(99976, 140)

In [ ]:
# One hot encoding with a dict vectorizor is better in production 
# for treating categories that are not present in the training data

In [38]:
df_one_hot.head()

,uuid,default,account_amount_added_12_24m,account_days_in_dc_12_24m,account_days_in_rem_12_24m,account_days_in_term_12_24m,account_incoming_debt_vs_paid_0_24m,age,avg_payment_span_0_12m,avg_payment_span_0_3m,...,status_max_archived_0_12_months_3,status_max_archived_0_12_months_5,status_max_archived_0_24_months_0,status_max_archived_0_24_months_1,status_max_archived_0_24_months_2,status_max_archived_0_24_months_3,status_max_archived_0_24_months_5,worst_status_active_inv_1,worst_status_active_inv_2,worst_status_active_inv_3
0,63f69b2c-8b1c-4740-b78d-52ed9a4515ac,0.00,0.00,0.00,0.00,0.00,0.00,20,12.69,8.33,...,False,False,False,True,False,False,False,True,False,False
1,0e961183-8c15-4470-9a5e-07a1bd207661,0.00,0.00,0.00,0.00,0.00,NaN,50,25.83,25.00,...,False,False,False,False,True,False,False,False,False,False
2,d8edaae6-4368-44e0-941e-8328f203e64e,0.00,0.00,0.00,0.00,0.00,NaN,22,20.00,18.00,...,False,False,False,False,True,False,False,True,False,False
3,0095dfb6-a886-4e2a-b056-15ef45fdb0ef,0.00,0.00,NaN,NaN,NaN,NaN,36,4.69,4.89,...,False,False,False,True,False,False,False,True,False,False
4,c8f8b835-5647-4506-bf15-49105d8af30b,0.00,0.00,0.00,0.00,0.00,NaN,25,13.00,13.00,...,False,False,False,True,False,False,False,False,False,False

In [22]:
rare_categories

CategoricalIndex(['Kitchenware',
                  'Household electronics (whitegoods/appliances)', 'Underwear',
                  'Erotic Clothing & Accessories', 'Non',
                  'Musical Instruments & Equipment', 'Tobacco',
                  'Safety products', 'Diversified Jewelry & Accessories',
                  'Car electronics', 'Sex toys', 'Plants & Flowers',
                  'Bags & Wallets',
                  'Office machines & Related accessories (excl. computers)',
                  'Cleaning & Sanitary', 'Event tickets',
                  'Wine, Beer & Liquor', 'Education'],
                 categories=['Adult Shoes & Clothing', 'Automotive Parts & Accessories', 'Bags & Wallets', 'Body & Hair Care', ..., 'Wine, Beer & Liquor', 'Youthful Shoes & Clothing', 'Office machines & Related accessories (excl. ..., 'Education'], ordered=False, dtype='category', name='merchant_category')

In [23]:
df.merchant_category.nunique()

40

In [24]:
# Examine categorical variables crossed with default
for feature in df.select_dtypes(include='category').columns:
    print(pd.crosstab(feature, df['default'], normalize='index'))

default         0.00  1.00
row_0
account_status  0.99  0.01
default                    0.00  1.00
row_0
account_worst_status_0_3m  0.99  0.01
default                      0.00  1.00
row_0
account_worst_status_12_24m  0.99  0.01
default                    0.00  1.00
row_0
account_worst_status_3_6m  0.99  0.01
default                     0.00  1.00
row_0
account_worst_status_6_12m  0.99  0.01
default         0.00  1.00
row_0
merchant_group  0.99  0.01
default        0.00  1.00
row_0
name_in_email  0.99  0.01
default                     0.00  1.00
row_0
status_last_archived_0_24m  0.99  0.01
default                         0.00  1.00
row_0
status_2nd_last_archived_0_24m  0.99  0.01
default                         0.00  1.00
row_0
status_3rd_last_archived_0_24m  0.99  0.01
default                         0.00  1.00
row_0
status_max_archived_0_6_months  0.99  0.01
default                          0.00  1.00
row_0
status_max_archived_0_12_months  0.99  0.01
default                          0.00  1.00
row_0
status_max_archived_0_24_months  0.99  0.01
default                  0.00  1.00
row_0
worst_status_active_inv  0.99  0.01

### 03 Modeling

In [25]:
# Split the dataset into training and validation sets
train = df_one_hot[df_one_hot.default.notna()]
validate = df_one_hot[df_one_hot.default.isna()]

features = train.drop(columns=['uuid', 'default'])
target = train['default']

# Weight ratio for class imbalance
weight_ratio = float(len(target[target == 1]))/float(len(target[target == 0]))
w_array = np.array([1.0]*target.shape[0])
w_array[target==1] = 1 - weight_ratio
w_array[target==0] = weight_ratio

# Initialize the XGBoost model
params = {
    'objective': 'binary:logistic',
    'eval_metric': 'auc',
    'learning_rate': 0.1,
    'random_state': 42
}

dtrain = xgb.DMatrix(features, label=target, weight=w_array)
#cv_results = xgb.cv(params, dtrain, nfold=5, num_boost_round=300, early_stopping_rounds=50, maximize=True, seed=42)
cv_results = xgb.cv(
    params,
    dtrain,
    num_boost_round=300,
    nfold=5,
    metrics=['auc'],
    early_stopping_rounds=50,
    stratified=True,
    verbose_eval=True
)


# Extract the best AUC and KS from the CV results
best_auc = cv_results['test-auc-mean'].max()

print(f"Best ROC AUC from CV: {best_auc}")

[0]	train-auc:0.89119+0.00398	test-auc:0.85534+0.01072
[1]	train-auc:0.89990+0.00320	test-auc:0.86774+0.01445
[2]	train-auc:0.90596+0.00203	test-auc:0.87209+0.01549
[3]	train-auc:0.90995+0.00088	test-auc:0.87543+0.01518
[4]	train-auc:0.91413+0.00044	test-auc:0.87852+0.01374
[5]	train-auc:0.91635+0.00104	test-auc:0.88024+0.01346
[6]	train-auc:0.91838+0.00131	test-auc:0.88204+0.01245
[7]	train-auc:0.91986+0.00166	test-auc:0.88386+0.01145
[8]	train-auc:0.92191+0.00164	test-auc:0.88536+0.01116
[9]	train-auc:0.92377+0.00154	test-auc:0.88715+0.01133
[10]	train-auc:0.92564+0.00165	test-auc:0.88846+0.01071
[11]	train-auc:0.92715+0.00128	test-auc:0.89007+0.01037
[12]	train-auc:0.92878+0.00130	test-auc:0.89103+0.01006
[13]	train-auc:0.93008+0.00091	test-auc:0.89161+0.00982
[14]	train-auc:0.93137+0.00114	test-auc:0.89188+0.00918
[15]	train-auc:0.93255+0.00095	test-auc:0.89322+0.00882
[16]	train-auc:0.93362+0.00087	test-auc:0.89391+0.00863
[17]	train-auc:0.93446+0.00081	test-auc:0.89451+0.00858
[18]	train-auc:0.93518+0.00101	test-auc:0.89518+0.00824
[19]	train-auc:0.93599+0.00077	test-auc:0.89581+0.00801
[20]	train-auc:0.93687+0.00081	test-auc:0.89623+0.00782
[21]	train-auc:0.93772+0.00082	test-auc:0.89662+0.00779
[22]	train-auc:0.93839+0.00085	test-auc:0.89691+0.00776
[23]	train-auc:0.93918+0.00090	test-auc:0.89729+0.00794
[24]	train-auc:0.93985+0.00089	test-auc:0.89783+0.00760
[25]	train-auc:0.94040+0.00097	test-auc:0.89819+0.00764
[26]	train-auc:0.94094+0.00101	test-auc:0.89854+0.00742
[27]	train-auc:0.94170+0.00100	test-auc:0.89919+0.00742
[28]	train-auc:0.94215+0.00096	test-auc:0.89972+0.00730
[29]	train-auc:0.94275+0.00113	test-auc:0.90009+0.00731
[30]	train-auc:0.94327+0.00125	test-auc:0.90039+0.00745
[31]	train-auc:0.94385+0.00129	test-auc:0.90079+0.00729
[32]	train-auc:0.94451+0.00130	test-auc:0.90090+0.00737
[33]	train-auc:0.94482+0.00137	test-auc:0.90109+0.00731
[34]	train-auc:0.94524+0.00136	test-auc:0.90131+0.00718
[35]	train-auc:0.94579+0.00128	test-auc:0.90153+0.00703
[36]	train-auc:0.94620+0.00126	test-auc:0.90177+0.00708
[37]	train-auc:0.94675+0.00117	test-auc:0.90204+0.00724
[38]	train-auc:0.94721+0.00117	test-auc:0.90223+0.00746
[39]	train-auc:0.94758+0.00113	test-auc:0.90262+0.00712
[40]	train-auc:0.94795+0.00103	test-auc:0.90301+0.00706
[41]	train-auc:0.94837+0.00095	test-auc:0.90334+0.00700
[42]	train-auc:0.94870+0.00096	test-auc:0.90367+0.00693
[43]	train-auc:0.94905+0.00097	test-auc:0.90380+0.00693
[44]	train-auc:0.94934+0.00103	test-auc:0.90400+0.00695
[45]	train-auc:0.94962+0.00109	test-auc:0.90418+0.00687
[46]	train-auc:0.94990+0.00112	test-auc:0.90434+0.00685
[47]	train-auc:0.95027+0.00108	test-auc:0.90437+0.00690
[48]	train-auc:0.95061+0.00108	test-auc:0.90452+0.00682
[49]	train-auc:0.95089+0.00111	test-auc:0.90464+0.00670
[50]	train-auc:0.95116+0.00116	test-auc:0.90481+0.00670
[51]	train-auc:0.95148+0.00118	test-auc:0.90494+0.00655
[52]	train-auc:0.95184+0.00100	test-auc:0.90501+0.00670
[53]	train-auc:0.95229+0.00111	test-auc:0.90499+0.00656
[54]	train-auc:0.95255+0.00114	test-auc:0.90506+0.00656
[55]	train-auc:0.95283+0.00111	test-auc:0.90517+0.00655
[56]	train-auc:0.95325+0.00099	test-auc:0.90524+0.00653
[57]	train-auc:0.95349+0.00100	test-auc:0.90533+0.00647
[58]	train-auc:0.95377+0.00103	test-auc:0.90541+0.00652
[59]	train-auc:0.95396+0.00103	test-auc:0.90544+0.00649
[60]	train-auc:0.95420+0.00102	test-auc:0.90553+0.00639
[61]	train-auc:0.95460+0.00091	test-auc:0.90557+0.00624
[62]	train-auc:0.95483+0.00086	test-auc:0.90555+0.00612
[63]	train-auc:0.95514+0.00092	test-auc:0.90566+0.00601
[64]	train-auc:0.95544+0.00081	test-auc:0.90578+0.00597
[65]	train-auc:0.95564+0.00077	test-auc:0.90581+0.00606
[66]	train-auc:0.95583+0.00076	test-auc:0.90580+0.00606
[67]	train-auc:0.95606+0.00073	test-auc:0.90587+0.00604
[68]	train-auc:0.95635+0.00069	test-auc:0.90591+0.00604
[69]	train-auc:0.95663+0.00071	test-auc:0.90591+0.00595
[70]	train-auc:0.95682+0.00074	test-auc:0.90588+0.00587
[71]	train-auc:0.95705+0.00073	test-auc:0.90601+0.00590
[72]	train-auc:0.95733+0.00075	test-auc:0.90593+0.00586
[73]	train-auc:0.95756+0.00073	test-auc:0.90603+0.00571
[74]	train-auc:0.95785+0.00072	test-auc:0.90605+0.00582
[75]	train-auc:0.95802+0.00074	test-auc:0.90604+0.00574
[76]	train-auc:0.95822+0.00077	test-auc:0.90612+0.00578
[77]	train-auc:0.95846+0.00074	test-auc:0.90614+0.00569
[78]	train-auc:0.95868+0.00083	test-auc:0.90614+0.00564
[79]	train-auc:0.95882+0.00086	test-auc:0.90623+0.00567
[80]	train-auc:0.95901+0.00082	test-auc:0.90621+0.00569
[81]	train-auc:0.95921+0.00078	test-auc:0.90615+0.00568
[82]	train-auc:0.95946+0.00085	test-auc:0.90612+0.00574
[83]	train-auc:0.95967+0.00092	test-auc:0.90621+0.00584
[84]	train-auc:0.95984+0.00088	test-auc:0.90635+0.00583
[85]	train-auc:0.96002+0.00090	test-auc:0.90643+0.00587
[86]	train-auc:0.96023+0.00100	test-auc:0.90642+0.00586
[87]	train-auc:0.96046+0.00098	test-auc:0.90652+0.00585
[88]	train-auc:0.96074+0.00096	test-auc:0.90652+0.00588
[89]	train-auc:0.96100+0.00103	test-auc:0.90666+0.00582
[90]	train-auc:0.96135+0.00104	test-auc:0.90667+0.00579
[91]	train-auc:0.96149+0.00112	test-auc:0.90664+0.00575
[92]	train-auc:0.96166+0.00115	test-auc:0.90665+0.00569
[93]	train-auc:0.96188+0.00109	test-auc:0.90661+0.00574
[94]	train-auc:0.96206+0.00122	test-auc:0.90661+0.00569
[95]	train-auc:0.96218+0.00121	test-auc:0.90664+0.00565
[96]	train-auc:0.96246+0.00130	test-auc:0.90663+0.00553
[97]	train-auc:0.96265+0.00128	test-auc:0.90663+0.00550
[98]	train-auc:0.96280+0.00123	test-auc:0.90658+0.00549
[99]	train-auc:0.96309+0.00125	test-auc:0.90646+0.00549
[100]	train-auc:0.96329+0.00125	test-auc:0.90638+0.00541
[101]	train-auc:0.96343+0.00124	test-auc:0.90630+0.00541
[102]	train-auc:0.96360+0.00124	test-auc:0.90620+0.00545
[103]	train-auc:0.96378+0.00117	test-auc:0.90607+0.00544
[104]	train-auc:0.96400+0.00117	test-auc:0.90610+0.00552
[105]	train-auc:0.96412+0.00119	test-auc:0.90619+0.00547
[106]	train-auc:0.96435+0.00118	test-auc:0.90616+0.00545
[107]	train-auc:0.96450+0.00115	test-auc:0.90617+0.00535
[108]	train-auc:0.96464+0.00113	test-auc:0.90608+0.00536
[109]	train-auc:0.96479+0.00109	test-auc:0.90606+0.00536
[110]	train-auc:0.96490+0.00106	test-auc:0.90601+0.00536
[111]	train-auc:0.96514+0.00120	test-auc:0.90586+0.00535
[112]	train-auc:0.96531+0.00122	test-auc:0.90584+0.00532
[113]	train-auc:0.96548+0.00127	test-auc:0.90587+0.00528
[114]	train-auc:0.96562+0.00127	test-auc:0.90579+0.00527
[115]	train-auc:0.96573+0.00126	test-auc:0.90582+0.00521
[116]	train-auc:0.96588+0.00130	test-auc:0.90591+0.00511
[117]	train-auc:0.96598+0.00130	test-auc:0.90597+0.00509
[118]	train-auc:0.96613+0.00131	test-auc:0.90595+0.00504
[119]	train-auc:0.96628+0.00134	test-auc:0.90593+0.00503
[120]	train-auc:0.96645+0.00134	test-auc:0.90591+0.00507
[121]	train-auc:0.96665+0.00137	test-auc:0.90581+0.00505
[122]	train-auc:0.96680+0.00138	test-auc:0.90579+0.00503
[123]	train-auc:0.96693+0.00136	test-auc:0.90588+0.00494
[124]	train-auc:0.96710+0.00133	test-auc:0.90587+0.00500
[125]	train-auc:0.96734+0.00128	test-auc:0.90587+0.00495
[126]	train-auc:0.96744+0.00129	test-auc:0.90583+0.00490
[127]	train-auc:0.96756+0.00132	test-auc:0.90596+0.00490
[128]	train-auc:0.96779+0.00132	test-auc:0.90597+0.00488
[129]	train-auc:0.96798+0.00130	test-auc:0.90595+0.00491
[130]	train-auc:0.96812+0.00131	test-auc:0.90594+0.00491
[131]	train-auc:0.96833+0.00129	test-auc:0.90587+0.00498
[132]	train-auc:0.96851+0.00131	test-auc:0.90585+0.00507
[133]	train-auc:0.96866+0.00126	test-auc:0.90588+0.00510
[134]	train-auc:0.96884+0.00126	test-auc:0.90586+0.00504
[135]	train-auc:0.96909+0.00120	test-auc:0.90577+0.00504
[136]	train-auc:0.96925+0.00117	test-auc:0.90579+0.00506
[137]	train-auc:0.96938+0.00116	test-auc:0.90578+0.00504
[138]	train-auc:0.96957+0.00117	test-auc:0.90587+0.00498
[139]	train-auc:0.96969+0.00115	test-auc:0.90588+0.00496
Best ROC AUC from CV: 0.9066713769456987

In [26]:
final_model = xgb.train(params, dtrain, num_boost_round=cv_results.shape[0])

#final_model.save_model('final_model.model')

In [30]:
import pickle

In [31]:
model_num = 1.0
output_file = f'model_i={model_num}.bin'
output_file

'model_i=1.0.bin'

In [36]:
# wb -> write binary (bytes, not text)
f_out = open(output_file, 'wb')
pickle.dump((dv, final_model), f_out)
f_out.close()

NameError: name 'dv' is not defined

In [ ]:
with open(output_file, 'wb') as f_out:
    pickle.dump((dv, model), f_out)
    # do stuff

# file is closed automatically

In [34]:
# Prepare the validation data
validation_features = validate.drop(columns=['uuid', 'default'])
dval = xgb.DMatrix(validation_features)

# Make predictions on the validation set
y_pred = final_model.predict(dval)

# Create a DataFrame to hold the uuid and predicted probabilities
result_df = pd.DataFrame({
    'uuid': validate['uuid'],
    'pd': y_pred
})

# Save the result to a CSV file
result_df.to_csv('predicted_default_probabilities.csv', index=False)

In [35]:
pred_proba

array([0.083715  , 0.14744486, 0.05339191, ..., 0.9470487 , 0.06943693,
       0.15819046], dtype=float32)